-- single line comment
-[ multiline
comment ]-

-- top level only
define function function_name: (bit a, bit b) -> bit
as
    <body>
done

-- top level only
define value a as 1 done

-- in function scope only
define function add: (bit a, bit b) -> register
as
    set a = 1 in
    set mutable b = 1 in
done




